{{ block title }}
Performance Reporting from the Manager
{{ endblock }}
{{ block content }}
<div class="group-image-layout">
    <div>
        <p>In addition to the $1 of fixed compensation they will receive, managers can earn an extra bonus based on the points they report, with a maximum bonus of $2.</p>

        <p>If they report {{ threshold_integer }} points or less, they will receive no bonus.</strong> For <b>each score above {{ threshold_integer }}</b>, they will earn <b>an extra $0.50</b>.</p>
        
        <p>On the next page, the manager will need to report the score she/he has achieved. Please note that the bonus payment is based solely on the score <b>reported </b>by the manager, <b>not the actual </b>number of questions answered correctly. </p>

    </div>
    {% include_sibling "GroupOrgComponent.html" %}
    {% include_sibling "GroupNameComponent.html" %}

</div>

{{ next_button }}

{{ endblock }}